# Frontend Variables
VITE_SUPABASE_URL=https://nmshzzruuafmktiftbps.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5tc2h6enJ1dWFmbWt0aWZ0YnBzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzNzg5MTEsImV4cCI6MjA5NTk1NDkxMX0.d7zLgmkO4_GDDKbePWgXMOQoa4WuEZSvMwZ9I7gEZL8

# Backend / Serverless Function Variables (DO NOT expose to frontend)
SUPABASE_URL=https://nmshzzruuafmktiftbps.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5tc2h6enJ1dWFmbWt0aWZ0YnBzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDM3ODkxMSwiZXhwIjoyMDk1OTU0OTExfQ.p7eFPCO5celpaKJx85s0x_zZ1xoMBFcxVn7sT5CHfDg
